*~
/build*
/raw*
/runs.*

/notes
/TAGS
/.localdiffs
/.gitattributes
/.mailmap
/.devbox

*.vscode/

*.a
*.o
*.d
*.bin
*.make
a.out
depend.internal

SMHasher3
misc/exactcoll

extras/*

extras/datasketch

.gdbinit
